.page-header
	margin:
		top: $blockindent
	@media screen and (max-width: 768px)
		margin-top: 0
	&__top
		margin-bottom: $blockindent
		@media screen and (max-width: 768px)
			margin-bottom: $blockindent / 2
			padding-bottom: $blockindent / 6
			border: 1px solid $greyLight
		&-right-col
			@media screen and (max-width: 768px)
				display: none
	&__left,
	&__center,
	&__right
		display: flex
		width: 100%
		height: 100%
	&__left
		padding-left: 1em
	&__center
		margin: auto

	&__right
	&__search
		margin: auto
		width: 100%
		&-form
			position: relative
			height: $dfz * 2.5
			&--mob
				display: none
		&--mob
			&-btn
				display: flex
				justify-content: center
				svg
					color: $grey
		&-input
			padding:
				right: 4em
				left: 2em
			width: 100%
			height: 100%
			border: 1px solid $greyLight
			border-radius: 20px
			&::placeholder
				color: $orange2
			&:focus
				outline: none
				background-color: $pinkLighter2
				border-color: $pinkLighter3
			&--mob
				&::placeholder
					font-size: 0
				&:focus
					outline: none
					background-color: $pinkLighter2
					border-color: $pinkLighter3
		&-submit
			position: absolute
			top: 2px
			right: 0
			bottom: 0
			padding:
				right: 1.5em
			border: none
			background: none
			cursor: pointer
			&:focus
				outline: none
			&:focus>svg
				color: $orange2
			svg
				color: $grey
			&--mob
				

	&__middle
		border-bottom: 1px solid $greyLight
		&-mobile-menu-wrap
			display: none
			padding-bottom: $blockindent / 6
			@media screen and (max-width: 768px)
				display: flex
		&-menu-list
			display: flex
			justify-content: space-between
			width: 100%
			font-size: 0
			@media screen and (max-width: 768px)
				flex-direction: column
				display: none
			li
				margin: auto 0
				display: inline-block
				font-size: initial
				@media screen and (max-width: 768px)
					display: block
					list-style: none
				a
					padding: $dfz 1em
					display: block
					font-size: $dfz * 1.2
					text-transform: uppercase
					text-decoration: none
					font-family: $dfontBold
					color: $black
					transition: 0.2s ease-in-out
					@include link-hover
		&-right-col
			@media screen and (max-width: 768px)
				display: none
	&__mobile-menu
		&-btn
			position: relative
			min-width: 40px
			min-height: 22px
			font-size: 0
			border: none
			border:
				top: 2px solid $grey
			background: none
			&::before
				content: ''
				position: absolute
				top: 40%
				right: 0
				left: 20%
				display: block
				border:
					top: 2px solid $grey
			&::after
				content: ''
				position: absolute
				right: 0
				bottom: 0
				left: 35%
				display: block
				border:
					top: 2px solid $grey
	&__cart
		display: flex
		justify-content: flex-end
		align-items: center
		height: 100%
		&-icon
			margin-right: 0.3em
			display: inline-block
			width: 24px
			height: 24px
		&-badge
			margin-top: -10px
			width: 20px
			height: 20px
			text-align: center
			font-size: $dfz * 0.8
			line-height: 20px
			color: $white
			font-family: $fontRare
			border-radius: 50%
			background-color: $orange

	&__bottom
		position: relative
		border-bottom: 1px solid $greyLight
		&--mob
			padding:
				top: $blockindent / 3
				bottom: $blockindent / 3
			text-align: center
			&-text
				position: relative
				margin-right: 1em
				text-transform: uppercase
		&-menu-list
			display: none
			justify-content: space-between
			width: 100%
			font-size: 0
			@media screen and (max-width: 768px)
				flex-direction: column
			&-item
				margin: auto 0
				display: inline-block
				font-size: initial
				&-link
					padding: $dfz 1em
					display: block
					font-size: $dfz * 1.4
					text-transform: initial
					text-decoration: none
					font-family: $fontItalic
					color: $black
					transition: 0.2s ease-in-out
					@include link-hover-bottom-menu

