.category-list
  .container
    .row
      .col
        .page-content__title-wrap
          h2.page-content__title.text-center &Ncy;&ocy;&vcy;&acy;&yacy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy; &ucy;&zhcy;&iecy; &vcy; Artplay
          p.page-content__subtitle.text-center &Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&icy;&tcy;&iecy; &ncy;&ocy;&vcy;&ucy;&yucy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yucy; &icy;&zcy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &mcy;&iecy;&bcy;&iecy;&lcy;&icy; &icy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&ocy;&vcy; &vcy; &gcy;&acy;&lcy;&iecy;&rcy;&iecy;&iecy; ARTPLAY
  .container
    .row
      .col
        .category-list__item
          a.category-list__link(href='#')
            .category-list__img-wrap.category-list__img-wrap--left
              img(src='./img/collections/furniture.png', alt='')
            span.category-list__title &Mcy;&iecy;&bcy;&iecy;&lcy;&softcy;
      .col-5
        .category-list__item.category-list__item--title-top.category-list__item--with-square
          a.category-list__link(href='#')
            .category-list__img-wrap
              img(src='./img/collections/anticvar.png', alt='')
            span.category-list__title &Acy;&ncy;&tcy;&icy;&kcy;&vcy;&acy;&rcy;&icy;&acy;&tcy;
      .col
        .category-list__item
          a.category-list__link(href='#')
            .category-list__img-wrap.category-list__img-wrap--right
              img(src='./img/collections/light.png', alt='')
            span.category-list__title &Scy;&vcy;&iecy;&tcy;
  .category-list__bottom
    .container
      .page-content__title-wrap.page-content__title-wrap--without-margin
        h2.page-content__title.page-content__title--without-before &Kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy;
      .row
        .col-md-4
          .category-list__item.category-list__item--title-top.category-list__item--padding-top-small
            a.category-list__link(href='#')
              .category-list__img-wrap.category-list__img-wrap--bottom-left
                img(src='./img/collections/bottom-1.png', alt='')
              span.category-list__title.category-list__title--italic &Lcy;&ocy;&fcy;&tcy;
        .col-md-8
          .category-list__item.category-list__item--bottom.category-list__item--padding-top-big
            a.category-list__link(href='#')
              .category-list__img-wrap.category-list__img-wrap--bottom-right
                img(src='./img/collections/bottom-2.png', alt='')
              span.category-list__title &Ecy;&kcy;&scy;&tcy;&iecy;&rcy;&softcy;&iecy;&rcy;&ycy;
  .container
    .page__button
      a.page__button-link(href='#') &Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&iecy;&scy;&softcy; &kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
