.page-hero
  .container-fluid
    #carouselHero.owl-carousel.owl-theme.owl-loaded
      .owl-stage-outer
        .owl-stage
          .page-hero__owl-item.owl-item
            .page-hero__text-block
              h2.page-hero__title &Ncy;&ocy;&vcy;&acy;&yacy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy;
              p.page-hero__subtitle &ucy;&zhcy;&iecy; &vcy; Artplay
              p.page-hero__text &Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&icy;&tcy;&iecy; &ncy;&ocy;&vcy;&ucy;&yucy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yucy; &icy;&zcy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &mcy;&iecy;&bcy;&iecy;&lcy;&icy; &icy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&ocy;&vcy;
              button.page-hero__btn(type='button') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='./img/slider/slide-1.jpg', alt='')
      .owl-stage-outer
        .owl-stage
          .page-hero__owl-item.owl-item
            .page-hero__text-block
              h2.page-hero__title &Ncy;&ocy;&vcy;&acy;&yacy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy;
              p.page-hero__subtitle &ucy;&zhcy;&iecy; &vcy; Artplay
              p.page-hero__text &Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&icy;&tcy;&iecy; &ncy;&ocy;&vcy;&ucy;&yucy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yucy; &icy;&zcy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &mcy;&iecy;&bcy;&iecy;&lcy;&icy; &icy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&ocy;&vcy;
              button.page-hero__btn(type='button') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='./img/slider/slide-1.jpg', alt='')
      .owl-stage-outer
        .owl-stage
          .page-hero__owl-item.owl-item
            .page-hero__text-block
              h2.page-hero__title &Ncy;&ocy;&vcy;&acy;&yacy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy;
              p.page-hero__subtitle &ucy;&zhcy;&iecy; &vcy; Artplay
              p.page-hero__text &Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&icy;&tcy;&iecy; &ncy;&ocy;&vcy;&ucy;&yucy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yucy; &icy;&zcy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &mcy;&iecy;&bcy;&iecy;&lcy;&icy; &icy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&ocy;&vcy;
              button.page-hero__btn(type='button') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='./img/slider/slide-1.jpg', alt='')