.dropdown-menu
	.container
		.row
			.col-md-8
				.dropdown-menu__left
					ul.dropdown-menu__left-list
						- var dropmenuList = [{icon: "../../img/icons/menu-furniture.svg",name: "Барная мебель"}, {icon: "../../img/icons/menu-table.svg",name: "Столы"}, {icon: "../../img/icons/menu-bracket.svg",name: "Консоли"}, {icon: "../../img/icons/menu-bed.svg",name: "Кровати"}, {icon: "../../img/icons/menu-wardrobes.svg",name: "Шкафы"}, {icon: "../../img/icons/menu-mirror.svg",name: "Зеркала"}, {icon: "../../img/icons/menu-chair.svg",name: "Стулья и табуреты"}, {icon: "../../img/icons/menu-textile.svg",name: "Текстиль"}, {icon: "../../img/icons/menu-pedestal.svg",name: "Тумбы и комоды"}, {icon: "../../img/icons/menu-finding.svg",name: "Фурнитура"}, {icon: "../../img/icons/menu-bench.svg",name: "Скамьи"}]
						each item in dropmenuList
							li.dropdown-menu__left-list-item
								div.dropdown-menu__left-list-item-icon
									img(src=item.icon)
								span.dropdown-menu__left-list-item-title
									a(href="#")= item.name
								ul.dropdown-menu__left-sublist
									- var sublist = ['Столы', 'Стулья', 'Стулья']
									each item in sublist
										li
											a(href="#")= item

			.col-md-4
				| sda