<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	title Vostok-Art
	link(rel="stylesheet" href='./css/libs.min.css')
	link(rel="stylesheet" href='./css/common.css')
body
	.wrapper
		.page-content
			include ./blocks/header.pug
			include ./blocks/hero.pug
			include ./blocks/collections.pug
			include ./blocks/sales.pug
			include ./blocks/features.pug
		.page-footer
			include ./blocks/footer.pug
			include ./blocks/cart-popup.pug
	block scripts
		script(src='./js/libs.min.js')
		script(src='./js/common.js')
	